

html {
  font-size: 16px !important;
}

// ************************
// ************************
// ************************
// CONTAINER
// ************************
// ************************
// ************************

  .ra-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 2em;
    column-count: 4;   
    column-gap: 2em;
    column-rule: thin solid $bk-tr-1;
  }