html {
  font-size: 14px;
}

header {
  
  h1 {
    display: inline-block;
    float: none;
    width: 1.5em;
    height: 1.5em;
    font-size: 2.5em;
    font-weight: 700;
    margin-right: 1em;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 2;
    text-align: center;
  }
  nav {
    // height: .5em;
    position: relative;

    ul {


      
    }
    li {
      display: none;
    }
    &:after {
      content: '\e819';
      font-family: 'fontello';
      display: block;
      position: absolute;
      top: -1.8em;
      right: 0em;
      width: 1.5em;
      height: 1.5em;
      font-size: 2em;
      line-height: 1.5;
      text-align: center;
      border-radius: 6px;
      border: thin solid $wh-tr-2;
      color: $wh-tr-5;

    }
  }
}



.ra-container {
  column-count: 1;
  width: 100vw;
  // display: block;
  padding: 0;

  .teaser {
    display: inline-block;
    margin-bottom: 1em;
    padding: 0 1em;
    width: 100%;

    &:nth-child(1) {
      column-span: all;
    }
    &.highlighted {
      padding: 0 .5em;
    }
  }
}

footer {
  
  padding: 1em;

  h1 {
    margin-bottom: 1em;
  }
  .sharing {
    height: 4em;
    display: block;
  }
  .map {
    margin: 1em 0;
  }

  .columns {
    display: block;
  }
  .column {
    display: block;
    margin: 1em 0 0;
    padding: 0;
    border: 0;
  }
}
