 
// ************************
// ************************
// ************************
// VARIABLES
// ************************
// ************************
// ************************
  
  $rd-md: #c00;
  $rd-lt: lighten($rd-md, 10%);
  $rd-dk: darken($rd-md, 10%);

  $wh-md: #ccc;
  $wh-lt: lighten($wh-md, 20%);
  $wh-dk: darken($wh-md, 20%);

  $wh-tr-1: rgba($wh-lt, .1);
  $wh-tr-2: rgba($wh-lt, .2);
  $wh-tr-3: rgba($wh-lt, .3);
  $wh-tr-4: rgba($wh-lt, .4);
  $wh-tr-5: rgba($wh-lt, .5);
  $wh-tr-6: rgba($wh-lt, .6);
  $wh-tr-7: rgba($wh-lt, .7);
  $wh-tr-8: rgba($wh-lt, .8);
  $wh-tr-9: rgba($wh-lt, .9);

  $bk-md: #333;
  $bk-lt: lighten($bk-md, 10%);
  $bk-dk: darken($bk-md, 10%);

  $bk-tr-1: rgba($bk-lt, .1);
  $bk-tr-2: rgba($bk-lt, .2);
  $bk-tr-3: rgba($bk-lt, .3);
  $bk-tr-4: rgba($bk-lt, .4);
  $bk-tr-5: rgba($bk-lt, .5);
  $bk-tr-6: rgba($bk-lt, .6);
  $bk-tr-7: rgba($bk-lt, .7);
  $bk-tr-8: rgba($bk-lt, .8);
  $bk-tr-9: rgba($bk-lt, .9);

  $fb: #3b5a94;
  $tw: #00c7f5;
  $ig: #517fa4;
  $go: #d8473c;
  $pi: #cb2027;

  $head-font: 'Oswald', Helvetica, Arial, sans-serif;
  $icon-font: 'fontello', sans-serif;
  $body-font: 'Gentium Basic', Georgia, Times, serif;


// ************************
// ************************
// ************************
// RESET
// ************************
// ************************
// ************************

  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
  */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
      display: block;
    }
    body {
      line-height: 1;
    }
    ol, ul {
      list-style: none;
    }
    blockquote, q {
      quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    // margin: 0;
    // padding: 0;
    // list-style-type: none;
    // line-height: 1;
  }

  html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: $body-font;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
  }
  a {
    text-decoration: none;
    transition: all .2s ease-in-out;
    color: inherit;
    border-bottom: medium solid $bk-tr-4;
    padding-bottom: 0;

    &:hover {
      border-bottom: medium solid $bk-tr-6;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: $head-font;
    // font-weight: 400;
    margin: 0 0 .3em;
    // letter-spacing: .02em;
  }
  h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: .8em;
  }
  p {
    font-size: 1.1em;
    line-height: 1.2;
    margin: .5em 0;
  }
  img {
    display: block;
  }


// ************************
// ************************
// ************************
// ICON FONT
// ************************
// ************************
// ************************

  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?63953590');
    src: url('../font/fontello.eot?63953590#iefix') format('embedded-opentype'),
         url('../font/fontello.woff?63953590') format('woff'),
         url('../font/fontello.ttf?63953590') format('truetype'),
         url('../font/fontello.svg?63953590#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  .icon {
    font-family: $icon-font;
  }


// ************************
// ************************
// ************************
// HEADER
// ************************
// ************************
// ************************

  header {
    width: 100%;
    display: block;
    background: $bk-dk;
    color: $wh-lt;
    font-family: $head-font;
    padding: .25em 1em;

    a {
      color:$wh-tr-9;

      &:hover {
        color: $wh-lt;
      }
    }
    h1 {
      display: inline-block;
      float: left;
      width: 1.5em;
      height: 1.5em;
      font-weight: 700;
      margin-right: 1em;
      font-weight: 700;
      letter-spacing: -2px;
      line-height: 1.5;
      text-align: center;

      a {
        color: $wh-lt;
      }
    }
    nav {
      display: flex;
      font-size: 1.1em;
    }
    ul {
      display: flex;
      // flex-direction: column-reverse;
      flex-wrap: no-wrap;
      justify-content: space-between;
      font-weight: 400;
    }
    li {
      padding: 1em;
      text-transform: uppercase;
    }
    .left {
      li {
        &:last-child {
          margin-right: 3em;
        }
      }

    }
    .right {
      position: absolute;
      right: 0;
      li {
        &:first-child {
          margin-left: 2em;
        }
      }
      
    }
    
    
    .search {
      position: relative;

      span {
        display: none;
      }
      input {
        position: relative;
        text-align: right;
        right: 0;
        top: -.8em;
        font-size: 1em;
        font-family: $head-font;
        background: transparent;
        color: $wh-lt;
        border: 0;
        padding: .5em 2em .5em .5em;
        display: block;
        width: 1em;
        transition: all .2s ease-in-out;

        &:focus {
          outline: none;
          width: 10em;
          background: $wh-tr-2;
        }
      }
      &:before {
        content: '\e80e';
        position: absolute;
        top: .8em;
        right: 1.5em;
        display: inline-block;
      }
    }
  }



// ************************
// ************************
// ************************
// CONTAINER
// ************************
// ************************
// ************************

  .ra-container {
    width: 100%;
    margin: auto;
    padding: 2em;
    column-count: 4;   
    column-gap: 2em;
    column-rule: thin solid $bk-tr-1;
  }


// ************************
// ************************
// ************************
// HOME PAGE 
// ************************
// ************************
// ************************

  .teaser {
    margin: 1em 0;
    padding: 1em 0 0;
    border-top: thick solid $bk-dk;
    border-bottom: 0;
    position: relative;
    width: 100%;
    display: block;
    color: $bk-dk;

   
    figure {
      width: 100%;
      height: 200px;
      overflow: hidden;
      display: block;
      margin: 1em auto;
      padding: 0;
      position: relative;

      img {
        min-width: 410px;
        min-height: 220px;
        transition: all .6s ease-in-out;
        margin-left:auto;
        margin-right:auto;
        transform: translate-y(-1em);
        display: block;
        position: absolute;
        top: 0;
        transition: all 1s ease-in-out;

      }
    }

    &:hover {
      border-bottom: 0;

      figure {

        img {
          top: -1em;

        }
      }
    }
  
    
    
    h1 {
      margin-top: .5em;
      // text-transform: uppercase;
    }
    h2 {
     font-size: 1.4em;
     color: $bk-tr-8;
    }
    h3 {
      line-height: 1.5;
    }
    h4 {

    }
    .tag {
      color: $wh-md;
      background: $bk-dk;
      padding: 0 .7em .3em;
      font-size: 1em;
      text-transform: uppercase;
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
    }
    p {
      // padding: .5em 0;
    }
    &:nth-child(1) {
      // column-span: all;
      h1 {
        font-size: 3em;
      }

      figure {
        height: 400px;
        position: relative;
        // right: 0;
        // top: 2em;

        &:before {
          content: 'RA';
          font-family: $head-font;
          font-weight: 700;
          text-shadow: 0 0 .2em $bk-tr-2;
          display: block;
          position: absolute;
          top: 0em;
          left: .1em;
          color: $wh-lt;
          font-size: 8em;
          letter-spacing: -.05em;
          z-index: 10;
        }
      }
    }
    &.highlighted {
      background: $bk-tr-1;
      padding: .5em;
      // height: auto;

      h1 {
        font-size: 2.4em;
      }

      figure {
        height: 300px;

        img {
          min-height: 416px;
        }
      }
    }
  }
  .cta {
    display: inline-block;
    background: $rd-md;
    margin: 0;
    padding: .7em 1em;
    color: $wh-lt;
    font-size: 1em;
    font-family: $head-font;
    font-weight: 400;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:after {
      font-family: $icon-font;
      content: '\e811';
      margin-left: 1em;
    }
    &:hover {
      background: $rd-dk;
      border: 0;
    }
  }

  
// ************************
// ************************
// ************************
// FOOTER 
// ************************
// ************************
// ************************

  footer {
    padding: 2em;
    background: $bk-tr-1;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
      flex: 0 0 100%;

    }
    h2 {
      font-weight: 400;
      font-size: 1.4em;
      margin-bottom: .5em;
    }
    p {
      margin: 0 0 1em 0;
      padding: 0;
    }
    .map {
      height: 360px;
      width: 100%;
      padding: 1em;
      border: thin solid $bk-tr-6;
      background: $wh-lt;
      display: inline-block;
    }
    .columns {
      display: flex;
    }
    .column {
      // flex: 0 0 20%;
      flex: 1;
      padding: 1em 1em 0;
      text-align: center;
      border-right: thin solid $bk-tr-1;

      &:first-child {
        padding-left: 0;
        flex: 2;
      }
      &:last-child {
        padding-right: 0;
        flex: 1;
        border: 0;
      }
    }
    img {
      margin: 2em auto;
      width: 50%;
    }
    li {
     margin-bottom: .4em;
     list-style-type: none;
    }
    .sharing {
      margin: 0 0 1em 0;
      padding: 1em 0;
      // border-bottom: thin solid $bk-tr-3;
      width: 100%;
      text-align: center;
      flex: 0 0 100%;
      height: 3em;

      // ul {
      //   margin: .5em 0 0 0;
      // }
      li {
        list-style-type: none;
        display: inline-block;
        margin: 0 .5em 0 0;

        &:last-child {
          margin: 0;
        }
      }
      a {

      }
      span {
        display: none;
      }
      .social {
        width: 2em;
        height: 2em;
        display: inline-block;
        color: $wh-lt;
        font-size: 1.5em;
        text-align: center;
        line-height: 2;
        overflow: hidden;
        border-radius: 50%;
        border: 0;
        
        &:before {
          font-family: $icon-font;
        }
        &:hover {
          transform: translate(0,-.2em);
        }
      }
      .fb {
        background: $fb;
        &:before {
          content: '\e81a';
        }
        &:hover {
          background: darken($fb,.2)
        }
      }
      .tw {
        background: $tw;
        &:before {
          content: '\e81e';
        }
        &:hover {
          background: darken($tw,.2)
        }
      }
      .ig {
        background: $ig;
        &:before {
          content: '\e81c';
        }
        &:hover {
          background: darken($ig,.2)
        }
      }
      .go {
        background: $go;
        &:before {
          content: '\e81b';
        }
        &:hover {
          background: darken($go,.2)
        }
      }
      .pi {
        background: $pi;
        &:before {
          content: '\e81d';
        }
        &:hover {
          background: darken($pi,.2)
        }
      }
    }
  }




// ************************
// ************************
// ************************
// MEDIAQUERIES 
// ************************
// ************************
// ************************
    
 @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    @import 'smartphone'; 
  }

  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
    @import 'tablet';
  } 

  

  @media only screen
  and (min-width : 600px)
  and (max-width : 859px) {
    @import 'small-screen';
  }
  
  @media only screen
  and (min-width : 860px)
  and (max-width : 1280px) {
    @import 'medium-screen';
  }

  @media only screen
  and (min-width : 1281px) {
    @import 'large-screen';
  }