

html {
  font-size: 16px !important;
}


// ************************
// ************************
// ************************
// FOOTER 
// ************************
// ************************
// ************************

  footer {
    padding: 2em;
    background: $bk-tr-1;
    position: relative;
    font-size: 1.1em;
    
    h1 {
      margin-bottom: 1em;
    }
    .sharing {
      padding-bottom: 2em;
      
    }

    .columns {
      // display: block;
    }
    .column {
      
    }
  }