@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?85752356');
  src: url('../font/fontello.eot?85752356#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?85752356') format('woff'),
       url('../font/fontello.ttf?85752356') format('truetype'),
       url('../font/fontello.svg?85752356#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?85752356#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail-alt:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-cancel-circled:before { content: '\e803'; } /* '' */
.icon-plus-circled:before { content: '\e804'; } /* '' */
.icon-minus-circled:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e806'; } /* '' */
.icon-help-circled:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-quote-left:before { content: '\e809'; } /* '' */
.icon-quote-right:before { content: '\e80a'; } /* '' */
.icon-rss:before { content: '\e80b'; } /* '' */
.icon-zoom-in:before { content: '\e80c'; } /* '' */
.icon-zoom-out:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-down-open:before { content: '\e80f'; } /* '' */
.icon-left-open:before { content: '\e810'; } /* '' */
.icon-right-open:before { content: '\e811'; } /* '' */
.icon-up-open:before { content: '\e812'; } /* '' */
.icon-angle-left:before { content: '\e813'; } /* '' */
.icon-angle-right:before { content: '\e814'; } /* '' */
.icon-angle-up:before { content: '\e815'; } /* '' */
.icon-angle-down:before { content: '\e816'; } /* '' */
.icon-angle-double-left:before { content: '\e817'; } /* '' */
.icon-angle-double-right:before { content: '\e818'; } /* '' */
.icon-menu:before { content: '\e819'; } /* '' */
.icon-facebook:before { content: '\e81a'; } /* '' */
.icon-gplus:before { content: '\e81b'; } /* '' */
.icon-instagramm:before { content: '\e81c'; } /* '' */
.icon-pinterest-circled:before { content: '\e81d'; } /* '' */
.icon-twitter:before { content: '\e81e'; } /* '' */