
.icon-mail-alt:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-cancel-circled:before { content: '\e803'; } /* '' */
.icon-plus-circled:before { content: '\e804'; } /* '' */
.icon-minus-circled:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e806'; } /* '' */
.icon-help-circled:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-quote-left:before { content: '\e809'; } /* '' */
.icon-quote-right:before { content: '\e80a'; } /* '' */
.icon-rss:before { content: '\e80b'; } /* '' */
.icon-zoom-in:before { content: '\e80c'; } /* '' */
.icon-zoom-out:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-down-open:before { content: '\e80f'; } /* '' */
.icon-left-open:before { content: '\e810'; } /* '' */
.icon-right-open:before { content: '\e811'; } /* '' */
.icon-up-open:before { content: '\e812'; } /* '' */
.icon-angle-left:before { content: '\e813'; } /* '' */
.icon-angle-right:before { content: '\e814'; } /* '' */
.icon-angle-up:before { content: '\e815'; } /* '' */
.icon-angle-down:before { content: '\e816'; } /* '' */
.icon-angle-double-left:before { content: '\e817'; } /* '' */
.icon-angle-double-right:before { content: '\e818'; } /* '' */
.icon-menu:before { content: '\e819'; } /* '' */
.icon-facebook:before { content: '\e81a'; } /* '' */
.icon-gplus:before { content: '\e81b'; } /* '' */
.icon-instagramm:before { content: '\e81c'; } /* '' */
.icon-pinterest-circled:before { content: '\e81d'; } /* '' */
.icon-twitter:before { content: '\e81e'; } /* '' */