/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Gentium Basic", Georgia, Times, serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  color: inherit;
  border-bottom: medium solid rgba(77, 77, 77, 0.4);
  padding-bottom: 0;
}

a:hover {
  border-bottom: medium solid rgba(77, 77, 77, 0.6);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  margin: 0 0 0.3em;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .8em;
}

p {
  font-size: 1.1em;
  line-height: 1.2;
  margin: .5em 0;
}

img {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?63953590");
  src: url("../font/fontello.eot?63953590#iefix") format("embedded-opentype"), url("../font/fontello.woff?63953590") format("woff"), url("../font/fontello.ttf?63953590") format("truetype"), url("../font/fontello.svg?63953590#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "fontello", sans-serif;
}

header {
  width: 100%;
  display: block;
  background: #1a1a1a;
  color: white;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  padding: 0.25em 1em;
}

header a {
  color: rgba(255, 255, 255, 0.9);
}

header a:hover {
  color: white;
}

header h1 {
  display: inline-block;
  float: left;
  width: 1.5em;
  height: 1.5em;
  font-weight: 700;
  margin-right: 1em;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1.5;
  text-align: center;
}

header h1 a {
  color: white;
}

header nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1em;
}

header ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
}

header li {
  padding: 1em;
  text-transform: uppercase;
}

header .left li:last-child {
  margin-right: 3em;
}

header .right {
  position: absolute;
  right: 0;
}

header .right li:first-child {
  margin-left: 2em;
}

header .search {
  position: relative;
}

header .search span {
  display: none;
}

header .search input {
  position: relative;
  text-align: right;
  right: 0;
  top: -.8em;
  font-size: 1em;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  background: transparent;
  color: white;
  border: 0;
  padding: 0.5em 2em 0.5em 0.5em;
  display: block;
  width: 1em;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

header .search input:focus {
  outline: none;
  width: 10em;
  background: rgba(255, 255, 255, 0.2);
}

header .search:before {
  content: '\e80e';
  position: absolute;
  top: .8em;
  right: 1.5em;
  display: inline-block;
}

.ra-container {
  width: 100%;
  margin: auto;
  padding: 2em;
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em;
  -webkit-column-rule: thin solid rgba(77, 77, 77, 0.1);
     -moz-column-rule: thin solid rgba(77, 77, 77, 0.1);
          column-rule: thin solid rgba(77, 77, 77, 0.1);
}

.teaser {
  margin: 1em 0;
  padding: 1em 0 0;
  border-top: thick solid #1a1a1a;
  border-bottom: 0;
  position: relative;
  width: 100%;
  display: block;
  color: #1a1a1a;
}

.teaser figure {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: block;
  margin: 1em auto;
  padding: 0;
  position: relative;
}

.teaser figure img {
  min-width: 410px;
  min-height: 220px;
  -webkit-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translate-y(-1em);
      -ms-transform: translate-y(-1em);
          transform: translate-y(-1em);
  display: block;
  position: absolute;
  top: 0;
  -webkit-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
}

.teaser:hover {
  border-bottom: 0;
}

.teaser:hover figure img {
  top: -1em;
}

.teaser h1 {
  margin-top: .5em;
}

.teaser h2 {
  font-size: 1.4em;
  color: rgba(77, 77, 77, 0.8);
}

.teaser h3 {
  line-height: 1.5;
}

.teaser .tag {
  color: #ccc;
  background: #1a1a1a;
  padding: 0 0.7em 0.3em;
  font-size: 1em;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
}

.teaser:nth-child(1) h1 {
  font-size: 3em;
}

.teaser:nth-child(1) figure {
  height: 400px;
  position: relative;
}

.teaser:nth-child(1) figure:before {
  content: 'RA';
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-shadow: 0 0 0.2em rgba(77, 77, 77, 0.2);
  display: block;
  position: absolute;
  top: 0em;
  left: .1em;
  color: white;
  font-size: 8em;
  letter-spacing: -.05em;
  z-index: 10;
}

.teaser.highlighted {
  background: rgba(77, 77, 77, 0.1);
  padding: .5em;
}

.teaser.highlighted h1 {
  font-size: 2.4em;
}

.teaser.highlighted figure {
  height: 300px;
}

.teaser.highlighted figure img {
  min-height: 416px;
}

.cta {
  display: inline-block;
  background: #c00;
  margin: 0;
  padding: 0.7em 1em;
  color: white;
  font-size: 1em;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.cta:after {
  font-family: "fontello", sans-serif;
  content: '\e811';
  margin-left: 1em;
}

.cta:hover {
  background: #990000;
  border: 0;
}

footer {
  padding: 2em;
  background: rgba(77, 77, 77, 0.1);
  font-size: 1.1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer h1 {
  text-align: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

footer h2 {
  font-weight: 400;
  font-size: 1.4em;
  margin-bottom: .5em;
}

footer p {
  margin: 0 0 1em 0;
  padding: 0;
}

footer .map {
  height: 360px;
  width: 100%;
  padding: 1em;
  border: thin solid rgba(77, 77, 77, 0.6);
  background: white;
  display: inline-block;
}

footer .columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer .column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em 1em 0;
  text-align: center;
  border-right: thin solid rgba(77, 77, 77, 0.1);
}

footer .column:first-child {
  padding-left: 0;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

footer .column:last-child {
  padding-right: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 0;
}

footer img {
  margin: 2em auto;
  width: 50%;
}

footer li {
  margin-bottom: .4em;
  list-style-type: none;
}

footer .sharing {
  margin: 0 0 1em 0;
  padding: 1em 0;
  width: 100%;
  text-align: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  height: 3em;
}

footer .sharing li {
  list-style-type: none;
  display: inline-block;
  margin: 0 0.5em 0 0;
}

footer .sharing li:last-child {
  margin: 0;
}

footer .sharing span {
  display: none;
}

footer .sharing .social {
  width: 2em;
  height: 2em;
  display: inline-block;
  color: white;
  font-size: 1.5em;
  text-align: center;
  line-height: 2;
  overflow: hidden;
  border-radius: 50%;
  border: 0;
}

footer .sharing .social:before {
  font-family: "fontello", sans-serif;
}

footer .sharing .social:hover {
  -webkit-transform: translate(0, -0.2em);
      -ms-transform: translate(0, -0.2em);
          transform: translate(0, -0.2em);
}

footer .sharing .fb {
  background: #3b5a94;
}

footer .sharing .fb:before {
  content: '\e81a';
}

footer .sharing .fb:hover {
  background: #3b5a93;
}

footer .sharing .tw {
  background: #00c7f5;
}

footer .sharing .tw:before {
  content: '\e81e';
}

footer .sharing .tw:hover {
  background: #00c6f4;
}

footer .sharing .ig {
  background: #517fa4;
}

footer .sharing .ig:before {
  content: '\e81c';
}

footer .sharing .ig:hover {
  background: #517ea3;
}

footer .sharing .go {
  background: #d8473c;
}

footer .sharing .go:before {
  content: '\e81b';
}

footer .sharing .go:hover {
  background: #d8463b;
}

footer .sharing .pi {
  background: #cb2027;
}

footer .sharing .pi:before {
  content: '\e81d';
}

footer .sharing .pi:hover {
  background: #ca2027;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html {
    font-size: 14px;
  }
  header h1 {
    display: inline-block;
    float: none;
    width: 1.5em;
    height: 1.5em;
    font-size: 2.5em;
    font-weight: 700;
    margin-right: 1em;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 2;
    text-align: center;
  }
  header nav {
    position: relative;
  }
  header nav li {
    display: none;
  }
  header nav:after {
    content: '\e819';
    font-family: 'fontello';
    display: block;
    position: absolute;
    top: -1.8em;
    right: 0em;
    width: 1.5em;
    height: 1.5em;
    font-size: 2em;
    line-height: 1.5;
    text-align: center;
    border-radius: 6px;
    border: thin solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
  }
  .ra-container {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    width: 100vw;
    padding: 0;
  }
  .ra-container .teaser {
    display: inline-block;
    margin-bottom: 1em;
    padding: 0 1em;
    width: 100%;
  }
  .ra-container .teaser:nth-child(1) {
    -webkit-column-span: all;
       -moz-column-span: all;
            column-span: all;
  }
  .ra-container .teaser.highlighted {
    padding: 0 0.5em;
  }
  footer {
    padding: 1em;
  }
  footer h1 {
    margin-bottom: 1em;
  }
  footer .sharing {
    height: 4em;
    display: block;
  }
  footer .map {
    margin: 1em 0;
  }
  footer .columns {
    display: block;
  }
  footer .column {
    display: block;
    margin: 1em 0 0;
    padding: 0;
    border: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  html {
    font-size: 16px !important;
  }
  footer {
    padding: 2em;
    background: rgba(77, 77, 77, 0.1);
    position: relative;
    font-size: 1.1em;
  }
  footer h1 {
    margin-bottom: 1em;
  }
  footer .sharing {
    padding-bottom: 2em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 859px) {
  html {
    font-size: 14px;
  }
  .ra-container {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 2em;
       -moz-column-gap: 2em;
            column-gap: 2em;
    width: 100vw;
    display: block;
    padding: 0 1em;
  }
  .ra-container .teaser {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
  }
  .ra-container .teaser:nth-child(1) {
    -webkit-column-span: all;
       -moz-column-span: all;
            column-span: all;
  }
}

@media only screen and (min-width: 860px) and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
  .ra-container {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 2em;
       -moz-column-gap: 2em;
            column-gap: 2em;
    width: 100vw;
    display: block;
    padding: 0 1em;
  }
  .ra-container .teaser {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
  }
  .ra-container .teaser:nth-child(1) {
    -webkit-column-span: all;
       -moz-column-span: all;
            column-span: all;
  }
}

@media only screen and (min-width: 1281px) {
  html {
    font-size: 16px !important;
  }
  .ra-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 2em;
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
    -webkit-column-gap: 2em;
       -moz-column-gap: 2em;
            column-gap: 2em;
    -webkit-column-rule: thin solid rgba(77, 77, 77, 0.1);
       -moz-column-rule: thin solid rgba(77, 77, 77, 0.1);
            column-rule: thin solid rgba(77, 77, 77, 0.1);
  }
}
